name: Clang Format Check

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  clang-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install clang-format-18
        run: |
          sudo apt-get update
          sudo apt-get install -y clang-format-18

      - name: Run clang-format
        run: |
          find . -regex '.*\.\(cpp\|hpp\|c\|h\)' \
            -not -path './build/*' \
            -not -path './.git/*' \
            -print0 \
          | xargs -0 clang-format-18 --dry-run --Werror
